<div data-ng-show="errorMessage" class="alert alert-danger row">
    <span>{{ errorMessage }}</span>
</div>

<form ng-submit="changePassword()" style="margin-top:30px;">
    <h3>Change Password</h3>

    <span>Old Password</span>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Old Password" ng-model="oldPassword" autofocus />
    </div>

    <span>New Password</span>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="New Password" ng-model="newPassword" />
    </div>

    <span>New Password (confirm)</span>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="New Password (confirm)" ng-model="newPasswordConfirm" />
    </div>

    <button type-="submit" class="btn btn-primary">Change Password</button>
</form>

<div script-loader pagename="changePassword"></div>
<toastr-watcher></toastr-watcher>