<h2 style="text-decoration: underline">About Vivid Image Art</h2>

<p>
    These Digital Art Paintings were created over many hours and in some cases, years.
    Some of the basic design elements used for the images were created in the late 60's.
</p>

<p>
    Most images are composed by scanning the original drawing, then using various programs as a palette to morph, filter and add effects.
    The images are created on a PC using PhotoShop, Corel Pro X and other plug-ins.
    These methods enable the artist to express certain emotions and personal creativity as he is continuously changing and manipulating the image.
</p>

<p>
    Vivid Image Art uses a Foamcore mount for all prints, which are professionally framed using Museum Glass.
    Some of the images can be customized to the buyers color preference, in addition to a variety of media such as canvas, glass infusion and the use of metallic paper.
</p>

<p>All pieces are ready to hang, and include heavy duty quality strap hangers with plastic coated braided wire, for easy hanging.</p>

<p>Any comments are appreciated and can be sent to Vivid Image Art via <a class="customAnchor" ui-sref="contactus">Contact Us</a></p>

<div script-loader pagename="about"></div>
<toastr-watcher></toastr-watcher>