<div>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td width="30%">
                <img src="img/mainRandyBioPic.jpg" height="340" width="254" style="margin-bottom:10px;" />
                <p class="smallMargin" style="text-decoration: underline;"><b>Artist</b></p>
                <p class="smallMargin" style="margin-bottom:10px;">Randy Carlson</p>
                <p class="smallMargin" style="text-decoration: underline;"><b>Medium</b></p>
                <p class="smallMargin">Digital Abstract Painting</p>
            </td>
            <td width="70%" class="leftTopAlign">
                <p>
                    Randy was born in 1951 in Sussex, WI and became interested in art in grade school.
                    He was fortunate enough to have both art teachers and family that showed interest in what he was doing,
                    and with their encouragement, he was hooked!
                </p>

                <p>His fascination with abstract art went from drawing designs and over the years it progressed to creating intricate digital abstract images.</p>

                <p>Incorporating his earlier drawings in combination with various programs and learned techniques allowed the artist to complete these new works.</p>

                <p>
                    He believes that one of the main objectives of an artist should be to take the viewer to a place that they have never been before.
                    His hope is that these creations will enable him to share his expression of shape, color and movement.
                </p>
            </td>
        </tr>
    </table>
</div>

<div script-loader pagename="artistbio"></div>
<toastr-watcher></toastr-watcher>