<h2>Welcome to Vivid Image Art!</h2>

<p>Vivid Image Art, LLC specializes in Abstract Digital Image Art creation.</p>

<p>A wide variety of images are available for sale, expertly printed and professionally framed with museum glass. We can also work with you to create a custom image.</p>

<p>Please browse the <a class="customAnchor" ui-sref="gallery">Gallery</a> to see the existing items for sale, and if you have any questions or would like to place an order, please feel free to <a class="customAnchor" ui-sref="contactus">Contact Us</a></p>
<br />

<div id="slideshowDiv">
    <table width="100%">
        <td id="hiddenTableColumn" width="1px;"></td>
        <td width="50%" style="text-align:center;"><img id="slideshow_img_1" class="scalableThumbnail" /></td>
        <td width="50%" style="text-align:center;"><img id="slideshow_img_2" class="scalableThumbnail" /></td>
    </table>
</div>

<div script-loader pagename="home"></div>
<toastr-watcher></toastr-watcher>